---

---

<footer
  role="contentinfo"
  class="flex flex-col py-8 text-sm text-neutral-600 dark:text-neutral-500">
  <p>
    A{" "}
    <a
      class="font-medium transition-colors duration-300 border-transparent hover:text-neutral-950 dark:hover:text-neutral-400"
      href="https://garden.church"
      target="_blank">
      Garden Church
    </a>{" "}
    Resource
  </p>
  <p>
    Inspired by Sam Gibson from{" "}
    <a
      class="font-medium transition-colors duration-300 hover:text-neutral-950 dark:hover:text-neutral-400"
      href="https://www.church.nyc"
      target="_blank">
      Church of the City New York
    </a>
  </p>
</footer>
