---

---

<footer
  role="contentinfo"
  class="flex flex-col py-2 gap-6 text-sm text-neutral-600 dark:text-neutral-500 max-w-[40ch]">
  <p>
    We encourage you to read using a physical Bible. For times when that isn't
    possible you can click on the Psalms above to read using YouVersion's Bible
    site/app.
  </p>
  <hr class="border-neutral-200 dark:border-neutral-800" />
  <p>
    A{" "}
    <a
      class="font-medium transition-all duration-300 border-b border-transparent hover:text-neutral-950 dark:hover:text-neutral-400 hover:border-neutral-950 dark:hover:border-neutral-400"
      href="https://garden.church"
      target="_blank">
      Garden Church
    </a>{" "}
    Resource
  </p>
  <p>
    Inspired by Sam Gibson from{" "}
    <a
      class="font-medium transition-all duration-300 border-b border-transparent hover:text-neutral-950 dark:hover:text-neutral-400 hover:border-neutral-950 dark:hover:border-neutral-400"
      href="https://www.church.nyc"
      target="_blank">
      Church of the City New York
    </a>
  </p>
</footer>
