---

---

<header role="banner" class="flex flex-col gap-4 text-pretty">
  <div role="presentation" class="flex py-4">
    <div class="w-4 h-4 bg-neutral-600/80"></div>
    <div class="w-4 h-4 bg-neutral-500/80"></div>
    <div class="w-4 h-4 bg-neutral-400/80"></div>
    <div class="w-4 h-4 bg-neutral-300/80"></div>
    <div class="w-4 h-4 bg-neutral-200/80"></div>
  </div>

  <div>
    <h1
      class="text-lg text-neutral-900 dark:text-neutral-200 pb-4 font-medium leading-tight">
      Five Psalms
    </h1>
    <p class="text-base text-neutral-800 dark:text-neutral-400 pb-1">
      Read through the Psalms each month
    </p>
    <p class="text-sm font-mono pb-4 text-neutral-900/80 dark:text-neutral-500">
      150 Psalms | 30 days | 5 Psalms a day
    </p>
  </div>
</header>
