---

---

<header role="banner" class="flex flex-col gap-4 text-pretty">
  <div role="presentation" class="flex py-4">
    <div class="w-4 h-4 bg-neutral-600/80"></div>
    <div class="w-4 h-4 bg-neutral-500/80"></div>
    <div class="w-4 h-4 bg-neutral-400/80"></div>
    <div class="w-4 h-4 bg-neutral-300/80"></div>
    <div class="w-4 h-4 bg-neutral-200/80"></div>
  </div>

  <div>
    <h1
      class="pb-4 text-lg font-medium leading-tight text-neutral-900 dark:text-neutral-200">
      Five Psalms
    </h1>
    <p class="pb-1 text-base text-neutral-800 dark:text-neutral-400">
      Read through the Psalms each month
    </p>
    <p class="pb-4 font-mono text-sm text-neutral-900/80 dark:text-neutral-500">
      150 Psalms | 30 days | 5 Psalms a day
    </p>
  </div>
</header>
